<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EcmoScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>566BCCB01F70951400A825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566BCCC71F70951400A825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566BCCD21F70951500A825FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
